body {
    margin: 0px;
    font-family: "ff-enzo-web",tahoma,sans-serif;
}

/* This styles the sale bar at the top */

.sale {
    display: flex;

    background-color: orangered;
    
    padding: 10px;
}


.free {
    margin-left: 60px;

    
    background-color: darkred;
    color: white;
}


.free p {
    margin-left: 5px;
    margin-right: 5px;

    font-size: .8em;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 15px;

    font-size: .85em;

    color: white;
}

/* Logo, Nav bar, Sign In */

.nav {
    display: block;

    height: 150px;
}

.logo {
    display: inline-block;
    margin-left: 58px;
    padding: 0px;

    width: 150px;
}

#menu {
    display: inline-block;

    width: 500px;
    margin-top: 60px;
    margin-left: 35px;

    padding: 0px;
    
    list-style-type: none;
}

#menu li {
    display: inline-block;

    margin-left: 20px;

    font-size: 1.5em;
    font-weight: lighter;
}

.nav > * {
    vertical-align: top;
}

#cart{
    display: inline-block;

    width: 110px;
    height: 35px;
    margin-top: 60px;
    margin-left: 120px;


    border: 1px solid lightgray;
    border-radius: 3px;

}


div .count {
    background-color: lightgray;
    padding: 0px;

    vertical-align: middle;

}

.cart, .count, #cart p {
    display: inline;
    color: dimgray;

    width: 1.2em;
    margin: 0px;

    vertical-align: middle;
    text-align: center;

    padding: 7px;
}

/* Ties */

.ties {
    display: block;
    background-color: whitesmoke;

}

#styles {
    display: inline-block;
    list-style-type: none;

    margin-top: 0px;
    margin-left: 120px;
}

#styles li {
    float: left;
    
    margin: 0px;
    
    width: 113px;
    padding-left: 0px;

    vertical-align: top;
}

#styles p {
    display: block;
}

.label {
    text-align: center;

}

h1 {
    display: block;

    margin-top: 30px;
    padding-bottom: 50px;

    font-size: 3em;
    font-weight: 300;
    text-align: center;
}

/* Accessories */

/* Story */

.story {
    display: block;

    border-bottom-width: 100%;
    border-bottom: 3px dotted lightgray;

    margin-top: 80px;
}

.story h2 {
    display: block;

    font-size: 2em;
    font-style: italic;
    font-weight: 300;

    margin-top: 0px;
    padding: 0px;
    
    text-align: center;
}

.story a {
    display: block;

    margin-bottom: 70px;

    color: dodgerblue;

    text-align: center;
    text-decoration: none;
}

/* News */

.news {
    display: block;
}

h3 {
    font-size: 1em;
}

#weekly {
    float: left;

    position: relative;
    left: 80px;

    width: 20%;

    margin-left: 0px;
    margin-right: 3%;
    margin-top: 30px;
    margin-bottom: 40px;
}



.weekly {
    display: block;

    height: 140px;
    margin: 0px;

    border: 1px solid lightgray;
    border-radius: 2px;

}

#weekly a {
    font-size: .84em;

    text-decoration: none;
}

#loop {
    float: left;
    
    position: relative;
    left: 80px;
    
    width: 19.5%;

    margin-top: 30px;
    margin-bottom: 40px;
}

#loop p {
    color: black;

    margin-left: 0px;
}