body {
    margin: 0px;
}

/* This styles the sale bar at the top */

.sale {
    display: flex;

    background-color: orangered;
    
    padding: 10px;
}


.free {
    margin-left: 30px;

    
    background-color: darkred;
    color: white;
}


.free p {
    margin-left: 5px;
    margin-right: 5px;

    font-size: .8em;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 15px;

    font-size: .85em;
    font-family: "ff-enzo-web",tahoma,sans-serif;

    color: white;
}

/* Logo, Nav bar, Sign In */

.nav {
    display: block;

    height: 150px;
}

.logo {
    display: inline-block;
    margin-left: 28px;
    padding: 0px;

    width: 150px;
}

#menu {
    display: inline-block;

    width: 500px;
    margin-top: 60px;

    padding: 0px;
    
    list-style-type: none;
}

#menu li {
    display: inline-block;

    margin-left: 20px;

    font-family: "ff-enzo-web",tahoma,sans-serif;
    font-size: 1.5em;
}

.nav > * {
    vertical-align: top;
}