body {
    margin: 0px;
}

/* This styles the sale bar at the top */

.sale {
    display: flex;

    background-color: orangered;
    
    padding: 10px;
}


.free {
    margin-left: 60px;

    
    background-color: darkred;
    color: white;
}


.free p {
    margin-left: 5px;
    margin-right: 5px;

    font-size: .8em;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 15px;

    font-size: .85em;
    font-family: "ff-enzo-web",tahoma,sans-serif;

    color: white;
}

/* Logo, Nav bar, Sign In */

.nav {
    display: block;

    height: 150px;
}

.logo {
    display: inline-block;
    margin-left: 58px;
    padding: 0px;

    width: 150px;
}

#menu {
    display: inline-block;

    width: 500px;
    margin-top: 60px;
    margin-left: 35px;

    padding: 0px;
    
    list-style-type: none;
}

#menu li {
    display: inline-block;

    margin-left: 20px;

    font-family: "ff-enzo-web",tahoma,sans-serif;
    font-size: 1.5em;
}

.nav > * {
    vertical-align: top;
}

#cart{
    display: inline-block;

    width: 110px;
    height: 35px;
    margin-top: 60px;
    margin-left: 120px;


    border: 1px solid lightgray;

}


div .count {
    background-color: lightgray;
    padding: 0px;

    vertical-align: middle;

}

.cart, .count, #cart p {
    display: inline;
    color: dimgray;

    width: 1.2em;
    margin: 0px;

    vertical-align: middle;
    text-align: center;

    padding: 7px;
}

/* Ties */

.ties {
    display: block;
    background-color: whitesmoke;

}

#styles {
    display: inline-block;

    list-style-type: none;
    margin-left: 120px;
}

li {
    display: inline-block;

    margin-left: 50px;
}

h1 {
    display: block;

    padding-bottom: 50px;

    font-size: 4em;
    text-align: center;
}